{% extends 'admin/change_form.html' %}

{% block after_field_sets %}
    {{ block.super }}
    
    {% comment %} <div style="text-align: center">  {% endcomment %}
    
        <input  type="submit" value="Load all Food in database" name="_load_all_food">               
        <h1 style="margin-bottom: 5px">Calculate nutrients in need</h1>
        
        
        {% comment %} <div style="text-align: center"> {% endcomment %}
            <input type="submit" value="Calculate Total Energy Expenditure" name="_calculate_energy">                                        
            <input type="number" placeholder="Carbohydrate ratio" name="_carb_ratio">
            <input type="number" placeholder="Protein ratio" name="_protein_ratio">
            <input type="number" placeholder="Lipid ratio" name="_lipid_ratio">
            <input  type="submit" value="Calculate these nutrient in need for me" name="_calculate">    
        
        <h1 style="margin-bottom: 5px">Calculate nutrients required for morning</h1>
            <input type="submit" value="Calculate Energy Expenditure" name="_calculate_energy_morning">
            <input type="number" placeholder="Energy ratio" name="_energy_ratio_morning">
            <input type="number" placeholder="Carbohydrate ratio" name="_carb_ratio_morning">
            <input type="number" placeholder="Protein ratio" name="_protein_ratio_morning">
            <input type="number" placeholder="Lipid ratio" name="_lipid_ratio_morning">
            <input  type="submit" value="Calculate these nutrient in need for me" name="_calculate_nutrients_morning">
        
        <h1 style="margin-bottom: 5px">Calculate nutrients required for afternoon</h1>
            <input type="submit" value="Calculate Energy Expenditure" name="_calculate_energy_afternoon">
            <input type="number" placeholder="Energy ratio" name="_energy_ratio_afternoon">
            <input type="number" placeholder="Carbohydrate ratio" name="_carb_ratio_afternoon">
            <input type="number" placeholder="Protein ratio" name="_protein_ratio_afternoon">
            <input type="number" placeholder="Lipid ratio" name="_lipid_ratio_afternoon">
            <input  type="submit" value="Calculate these nutrient in need for me" name="_calculate_nutrients_afternoon">
             
        <h1 style="margin-bottom: 5px">Calculate nutrients required for evening</h1>
            <input type="submit" value="Calculate Energy Expenditure" name="_calculate_energy_evening">
            <input type="number" placeholder="Energy ratio" name="_energy_ratio_evening">
            <input type="number" placeholder="Carbohydrate ratio" name="_carb_ratio_evening">
            <input type="number" placeholder="Protein ratio" name="_protein_ratio_evening">
            <input type="number" placeholder="Lipid ratio" name="_lipid_ratio_evening">
            <input  type="submit" value="Calculate these nutrient in need for me" name="_calculate_nutrients_evening">
        <div style="margin-bottom: 30px"></div>
        {% comment %} </div>                                {% endcomment %}
{% endblock %}




